*{
	padding: 0px;
	margin: 0px;
}
body{
  background-color: black;
	
}
h1{
  font-size: 50px;
  color: white;
}
.flex-container {
  display: flex;
  background-color: black;
  /*height: 200px;*/
  justify-content: center;

}

.flex-container > div {
  background-image: url("Next1.png");
  background-position: cover;
  background-size: 100% 100% ;
  background-color: black;
  background-repeat: no-repeat;
  margin: 1px;
  /*margin-left: 40%;*/
  /*adding: 20px;*/
  font-size: 30px;
  width: 200px;
  height: 250px;
  justify-content: center;
}
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: orange;
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover {
  background-color: #111;
}
#wrapper{
	width: 100%;
	height: 700px;
	background-image: url("buger.jpg");
	background-position: center;
  background-size: 100% 100%;
  background-color: black;
  background-repeat: no-repeat;
}
#menu-wrapper{
  width: 100%;
  height: 1000px;
  background-image: url("nextlevelbackground.jpg");
  background-position: center;
  background-size: 100% 100%;
  background-color: black;
  background-repeat: no-repeat;
  display: flex;
  justify-content: center;
  background-color: DodgerBlue;

}
#menu{
  width: 100%;
  height: 100%;
  background-image: url("menusample.jpg");
  background-position: center;
  background-size: 100% 100%;
  background-color: black;
  background-repeat: no-repeat;
  display: flex;
  justify-content: center;
  overflow: hidden;

  /*padding: 10px;*/

  

  
}


#menu-wrapper> div {
  background-color: #f1f1f1;
  width: 700px;
  margin: 1px;
  text-align: center;
  line-height: 175px;
  font-size: 30px;
}

#nextlevelmenu{
  background-color: black;
  color:red;
  font-size: 40pt;
}
.menu-h1{
  font-family: 'Saira Extra Condensed', sans-serif;
  color: red;
}

p{
  font-family: 'Saira Extra Condensed', sans-serif;
}
.container{
  background-color: black;
  display: flex;
  /*align-content: stretch;*/
  flex-wrap: wrap;
  justify-content:space-around;
  align-items: center;
}
.container div{
   border: 5px black solid;
     padding: 10px;
     justify-content:space-around;
     flex-wrap: wrap;
     /*box-shadow: 4px 4px 4px 4px orange;*/
 
}
.box1{
  flex: 3;
  width: 40px;
  height: 100%;
  /*background-image: url("nextlevelbackground.jpg");
  background-position: cover;
  background-size: 100% 100% ;
  background-color: black;
  background-repeat: no-repeat;*/
  background-color: white;
}
.box2{
  flex: 2;
  width: 40%;
  height: 100%;
  /*background-image: url("nextlevelbackground.jpg");
  background-position: cover;
  background-size: 100% 100% ;
  background-color: black;
  background-repeat: no-repeat;*/
  background-color: white;
}
.box3{
  flex: 3;
  width: 40%;
  height: 100%;
  /*background-image: url("nextlevelbackground.jpg");
  background-position: cover;
  background-size: 100% 100% ;
  background-color: black;
  background-repeat: no-repeat;*/
  background-color: white;
}
.box4{
  flex: 3;
  width: 40%;
  height: 100%;
  /*background-image: url("nextlevelbackground.jpg");
  background-position: cover;
  background-size: 100% 100% ;
  background-color: black;
  background-repeat: no-repeat;*/
  background-color: white;
}
.box5{
  flex: 3;
  width: 40%;
  height: 100%;
  /*background-image: url("nextlevelbackground.jpg");
  background-position: cover;
  background-size: 100% 100% ;
  background-color: black;
  background-repeat: no-repeat;*/
  background-color: white;
}
.box6{
  flex: 3;
  width: 40%;
  height: 100%;
  /*background-image: url("nextlevelbackground.jpg");
  background-position: cover;
  background-size: 100% 100% ;
  background-color: black;
  background-repeat: no-repeat;*/
  background-color: white;
}
.box7{
  flex: 3;
  width: 40%;
  height: 100%;
  /*background-image: url("nextlevelbackground.jpg");
  background-position: cover;
  background-size: 100% 100% ;
  background-color: black;
  background-repeat: no-repeat;*/
  background-color: white;
}
.box8{
  flex: 1;
  width: 40%;
  height: 100%;
  /*background-image: url("nextlevelbackground.jpg");
  background-position: cover;
  background-size: 100% 100% ;
  background-color: black;
  background-repeat: no-repeat;*/
  background-color: white;
}
.box9{
  flex: 1;
  width: 40%;
  height: 100%;
  /*background-image: url("nextlevelbackground.jpg");
  background-position: cover;
  background-size: 100% 100% ;
  background-color: black;
  background-repeat: no-repeat;*/
  background-color: white;
 
}
.container2{
  background-color: black;
  display: flex;
  /*align-content: stretch;*/
  flex-wrap: wrap;
  justify-content:space-around;
  align-items: flex-end;
}
.container2 div{
   border: 5px black solid;
     padding: 10px;
     justify-content:space-around;
     flex-wrap: wrap;
    
 
}
.box10{
  flex: 3;
  width: 40px;
    height: 100%;
  /*background-image: url("nextlevelbackground.jpg");
  background-position: cover;
  background-size: 100% 100% ;
  background-color: black;
  background-repeat: no-repeat;*/
  background-color: white;
}
.box11{
  flex: 3;
  width: 40%;
  height: 100%;
  /*background-image: url("nextlevelbackground.jpg");
  background-position: cover;
  background-size: 100% 100% ;
  background-color: black;
  background-repeat: no-repeat;*/
  background-color: white;
}


  
  
  

#contact-wrapper{
  width: 100%;
  height: 700px;
  background-image: url("nextlevelbackground.jpg");
  background-position: center;
  background-size: 100% 100%;
  background-color: black;
  background-repeat: no-repeat;

}
#about-title{
  text-align: center;
}
#about-wrapper{
  width: 100%;
  /*height: 1000px;*/
  /*min-height: 700px;*/
  max-height: 100%;
  background-image: url("nextlevelbackground.jpg");
  background-position: center;
  background-size: 100% 100%;
  background-color: black;
  background-repeat: no-repeat;
  display: flex;
  background-color: black;
  /*height: 200px;*/
  justify-content: center;
  /*flex-direction: column*/;

}
#about-wrapper > store-image {
  background-image: url("Next1.png");
  background-position: cover;
  background-size: 100% 100% ;
  background-color: black;
  background-repeat: no-repeat;
  /*margin: 1px;*/
  font-size: 30px;
  width: 200px;
  height: 500px;
  justify-content: center;
  align-items: center;
}

#store-image{
  width: 500px;
  height: 550px;
  background-image: url("aboutus.jpeg");
  background-position: center;
  background-size: 100% 100%;
  background-color: black;
  background-repeat: no-repeat;
  text-align: center;
  justify-content: center;
 
}

#aboutus{
  width: 500px;
  height: 512px;
  border-right: 2px 2px solid white;
  border-left: 2px 2px solid white;
  background-position: center;
  background-size: 100% 100%;
  background-color: black;
  background-repeat: no-repeat;
  text-align: center;
  display: flex;
  background-color: black;
  justify-content: center;
  color: white;
  padding:1%;


}
#about-text{
  padding: 10%;
  
}
.contact-wrapper{
  display: flex;
  align-content: stretch;
  justify-content: center;

}
.contact-wrapper div{
  border: 5px black solid;
  padding: 15px;
  justify-content: center;
  


}
.box-1{
  flex: 3;
  height: 500px;
  background-image: url("nextlevelbackground.jpg");
  background-position: cover;
  background-size: 150% 150% ;
  background-color: black;
  background-repeat: no-repeat;


}
#contactus{
  color: red;
  font-size: 20px;
  text-align: center;
}
#map{
  background-image: url("map.jpg");
  background-position: center;
  background-size: 100%;
  background-color: black;
  background-repeat: no-repeat;
  width: 95%;
  height: 60%;

}
#phonenumber{
  font-size: 30px;
  color: white;
  margin-top: 5%;
}
.box-2{
  flex: 1;
  background-color: black;
}

.box-3{
  flex: 1;
  justify-content: center;
  text-align: center;
  background-color: black;

}
#find-us{
  text-align: center;
  color: red;
  font-size: 20px;
}
#grubhub{
  background-image: url("grubhub.jpg");
  background-position: center;
  background-size: 100%;
  /*background-color: black;*/
  background-repeat: no-repeat;
  width: 90%;
  height: 25%;



}
#doordash{
  background-image: url("doordash.jpg");
  background-position: center;
  background-size: 100%;
  background-color: black;
  background-repeat: no-repeat;
  width: 90%;
  height: 25%;

}
#ubereats{
  background-image: url("ubereats.jpg");
  background-position: center;
  background-size: 100% 100%;
  background-color: black;
  background-repeat: no-repeat;
  width: 98%;
  height: 25%;
  padding: 1%;


}
.box-4{
  flex: 1;
  flex-direction:column;
}



.footer {

  display:flex;
  align-content: stretch;
  justify-content: center;
   

}
.footer div{
  border: 1px white solid;
  padding: 10px;
  justify-content: center;
  display: flex;
  flex-direction: row;
  align-content: stretch;
  height: 70px;
  color: red;
  background-color: white;


}
#icons{
  background-color: white;
  height: 10px;

}

.foot-1{
  flex: 1;



}
.foot-2{
  flex: 1;

}
.foot-3{
  flex: 1;
  padding: 5px;

}
.foot-4{
  flex: 1;
}