*{
	padding: 0px;
	margin: 0px;
}
body{
	
}
h1{
  font-size: 50px;
  color: white;
}
.flex-container {
  display: flex;
  background-color: black;
  /*height: 200px;*/
  justify-content: center;

}

.flex-container > div {
  background-image: url("Next1.png");
  background-position: cover;
  background-size: 100% 100% ;
  background-color: black;
  background-repeat: no-repeat;
  margin: 1px;
  /*margin-left: 40%;*/
  /*adding: 20px;*/
  font-size: 30px;
  width: 200px;
  height: 250px;
  justify-content: center;
}
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: orange;
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover {
  background-color: #111;
}
#wrapper{
	width: 100%;
	height: 700px;
	background-image: url("buger.jpg");
	background-position: center;
  background-size: 100% 100%;
  background-color: black;
  background-repeat: no-repeat;
}
#menu-wrapper{
  width: 100%;
  height: 1000px;
  background-image: url("nextlevelbackground.jpg");
  background-position: center;
  background-size: 100% 100%;
  background-color: black;
  background-repeat: no-repeat;
  display: flex;
  justify-content: center;
  background-color: DodgerBlue;

}
#menu{
  width: 100%;
  height: 100%;
  background-image: url("menusample.jpg");
  background-position: center;
  background-size: 100% 100%;
  background-color: black;
  background-repeat: no-repeat;
  display: flex;
  justify-content: center;
  overflow: hidden;

  /*padding: 10px;*/

  

  
}


#menu-wrapper> div {
  background-color: #f1f1f1;
  width: 700px;
  margin: 1px;
  text-align: center;
  line-height: 175px;
  font-size: 30px;
}
#contact-wrapper{
  width: 100%;
  height: 700px;
  background-image: url("nextlevelbackground.jpg");
  background-position: center;
  background-size: 100% 100%;
  background-color: black;
  background-repeat: no-repeat;

}
#about-title{
  text-align: center;
}
#about-wrapper{
  width: 100%;
  /*height: 1000px;*/
  /*min-height: 700px;*/
  max-height: 100%;
  background-image: url("nextlevelbackground.jpg");
  background-position: center;
  background-size: 100% 100%;
  background-color: black;
  background-repeat: no-repeat;
  display: flex;
  background-color: black;
  /*height: 200px;*/
  justify-content: center;
  /*flex-direction: column*/;

}
#about-wrapper > store-image {
  background-image: url("Next1.png");
  background-position: cover;
  background-size: 100% 100% ;
  background-color: black;
  background-repeat: no-repeat;
  margin: 1px;
  /*margin-left: 40%;*/
  /*adding: 20px;*/
  font-size: 30px;
  width: 200px;
  height: 250px;
  justify-content: center;
  align-items: center;
}

#store-image{
  width: 500px;
  height: 500px;
  background-image: url("aboutus.jpeg");
  background-position: center;
  background-size: 100% 100%;
  background-color: black;
  background-repeat: no-repeat;
  text-align: center;
  justify-content: center;
  /*margin-left: 35%;*/
}

#aboutus{
  width: 500px;
  height: 500px;
  border-right: 2px 2px solid white;
  border-left: 2px 2px solid white;
  background-position: center;
  background-size: 100% 100%;
  background-color: black;
  background-repeat: no-repeat;
  text-align: center;
  display: flex;
  background-color: black;
  /*height: 200px;*/
  justify-content: center;
 /* margin-left: 35%;*/
  color: white;


}
#about-text{
  padding: 10%;
}
.contact-wrapper{
  display: flex;
  align-content: stretch;
  justify-content: center;

}
.contact-wrapper div{
  border: 5px black solid;
  padding: 10px;
  justify-content: center;
  


}
.box-1{
  flex: 3;
  height: 500px;
  background-image: url("nextlevelbackground.jpg");
  background-position: cover;
  background-size: 100% 100% ;
  background-color: black;
  background-repeat: no-repeat;


}
#contactus{
  color: red;
  font-size: 20px;
  text-align: center;
}
#map{
  background-image: url("map.jpg");
  background-position: center;
  background-size: 100%;
  background-color: black;
  background-repeat: no-repeat;
  width: 95%;
  height: 60%;

}
#phonenumber{
  font-size: 30px;
  color: white;
  margin-top: 5%;
}
.box-2{
  flex: 1;
  background-color: black;
}
#icons{
  margin-top: 80%;
}
.box-3{
  flex: 1;
  justify-content: center;
  text-align: center;
  background-color: black;

}
#find-us{
  text-align: center;
  color: red;
  font-size: 20px;
}
#grubhub{
  background-image: url("grubhub.jpg");
  background-position: center;
  background-size: 100%;
  /*background-color: black;*/
  background-repeat: no-repeat;
  width: 90%;
  height: 25%;



}
#doordash{
  background-image: url("doordash.jpg");
  background-position: center;
  background-size: 100%;
  background-color: black;
  background-repeat: no-repeat;
  width: 90%;
  height: 25%;

}
#ubereats{
  background-image: url("ubereats.jpg");
  background-position: center;
  background-size: 100%;
  background-color: black;
  background-repeat: no-repeat;
  width: 95%;
  height: 25%;


}
.box-4{
  flex: 1;
  flex-direction:column;
}


}
.footer {

   /*position: fixed;
   left: 0;
   bottom: 0;
   width: 100%;
   background-color: gray;
   color: white;
   text-align: center;*/
   display: flex;
   align-content: stretch;
   justify-content: center;
   border: 5px black solid;
   align-items:flex-end;
}
.footer div{
  border: 5px black solid;
  padding: 10px;
  justify-content: center;

}
.address-footer{
  justify-content: center;
  flex: 1;
  flex-direction:column;
  text-align: center;

}